[user]
	name = Lukasz Zuchowski
	email = lukasz.zuchowski@gmail.com
[core]
	excludesfile = /home/zuchos/.gitignore
       editor = nano
       autocrlf = input
       hookspath = ~/.git-hooks
    pager = diff-so-fancy | less -FXRi
[push]
       default = simple
[pull]
       rebase = true
[help]
       autocorrect = 8

